<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flights</key>
	<array>
		<dict>
			<key>flightNumber</key>
			<string>1379</string>
			<key>airline</key>
			<string>AA</string>
			<key>gate</key>
			<string>d16</string>
			<key>origin</key>
			<string>LGA</string>
			<key>destination</key>
			<string>DFW</string>
			<key>status</key>
			<string>0</string>
			<key>departTime</key>
			<string>6:59a</string>
			<key>arriveTime</key>
			<string>9:49a</string>
			<key>scheduledTime</key>
			<string>9:49a</string>
		</dict>
		<dict>
			<key>flightNumber</key>
			<string>710</string>
			<key>airline</key>
			<string>AA</string>
			<key>gate</key>
			<string>d17</string>
			<key>origin</key>
			<string>DFW</string>
			<key>destination</key>
			<string>LGA</string>
			<key>status</key>
			<string>0</string>
			<key>departTime</key>
			<string>8:55a</string>
			<key>arriveTime</key>
			<string>1:10p</string>
			<key>scheduledTime</key>
			<string>8:55a</string>
		</dict>
		<dict>
			<key>flightNumber</key>
			<string>1625</string>
			<key>airline</key>
			<string>AA</string>
			<key>gate</key>
			<string>d18</string>
			<key>origin</key>
			<string>BOS</string>
			<key>destination</key>
			<string>DFW</string>
			<key>status</key>
			<string>0</string>
			<key>departTime</key>
			<string>08:55a</string>
			<key>arriveTime</key>
			<string>12:05p</string>
			<key>scheduledTime</key>
			<string>12:05p</string>
		</dict>
		<dict>
			<key>flightNumber</key>
			<string>2419</string>
			<key>airline</key>
			<string>AA</string>
			<key>gate</key>
			<string>d27</string>
			<key>origin</key>
			<string>DFW</string>
			<key>destination</key>
			<string>LAX</string>
			<key>status</key>
			<string>0</string>
			<key>departTime</key>
			<string>10:30a</string>
			<key>arriveTime</key>
			<string>11:45a</string>
			<key>scheduledTime</key>
			<string>10:30a</string>
		</dict>
		<dict>
			<key>flightNumber</key>
			<string>1532</string>
			<key>airline</key>
			<string>AA</string>
			<key>gate</key>
			<string>d28</string>
			<key>origin</key>
			<string>LAS</string>
			<key>destination</key>
			<string>DFW</string>
			<key>status</key>
			<string>1</string>
			<key>departTime</key>
			<string>6:45p</string>
			<key>arriveTime</key>
			<string>11:15p</string>
			<key>scheduledTime</key>
			<string>11:30p</string>
		</dict>
		<dict>
			<key>flightNumber</key>
			<string>1077</string>
			<key>airline</key>
			<string>AA</string>
			<key>gate</key>
			<string>d29</string>
			<key>origin</key>
			<string>DFW</string>
			<key>destination</key>
			<string>BOS</string>
			<key>status</key>
			<string>0</string>
			<key>departTime</key>
			<string>9:30p</string>
			<key>arriveTime</key>
			<string>10:30p</string>
			<key>scheduledTime</key>
			<string>9:30p</string>
		</dict>
		<dict>
			<key>flightNumber</key>
			<string>2422</string>
			<key>airline</key>
			<string>AA</string>
			<key>gate</key>
			<string>d30</string>
			<key>origin</key>
			<string>LAX</string>
			<key>destination</key>
			<string>DFW</string>
			<key>status</key>
			<string>0</string>
			<key>departTime</key>
			<string>8:00a</string>
			<key>arriveTime</key>
			<string>1:05p</string>
			<key>scheduledTime</key>
			<string>1:05p</string>
		</dict>
		<dict>
			<key>flightNumber</key>
			<string>406</string>
			<key>airline</key>
			<string>AA</string>
			<key>gate</key>
			<string>d37</string>
			<key>origin</key>
			<string>DFW</string>
			<key>destination</key>
			<string>BOS</string>
			<key>status</key>
			<string>0</string>
			<key>departTime</key>
			<string>11:10a</string>
			<key>arriveTime</key>
			<string>3:40p</string>
			<key>scheduledTime</key>
			<string>11:10a</string>
		</dict>
		<dict>
			<key>flightNumber</key>
			<string>473</string>
			<key>airline</key>
			<string>AA</string>
			<key>gate</key>
			<string>d38</string>
			<key>origin</key>
			<string>DFW</string>
			<key>destination</key>
			<string>LAS</string>
			<key>status</key>
			<string>1</string>
			<key>departTime</key>
			<string>10:10p</string>
			<key>arriveTime</key>
			<string>10:55p</string>
			<key>scheduledTime</key>
			<string>10:30p</string>
		</dict>
	</array>
</dict>
</plist>
